*, 
*:before, 
*:after {
  margin: 0;
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
}

a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    text-decoration: underline;
  }
}

.btn,
a {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;

  @include on-event {
    outline: 0;
    box-shadow: none;
  }
}

/**
 * Basic styles for input fields
 */
input[type="email"],
input[type="password"],
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-focus-ring-color: none;
  outline: none;

  @include on-event {
    box-shadow: none;
  }
}

input,
select,
button,
textarea {
  outline: none;
  @include appearance(none);

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    @include appearance(none);
  }
}

main {
  padding-top: 72px;
}

@include respond-to(sm-down) {
  main {
    padding-top: 64px;
  }
}

@include respond-to(xs) {
  main {
    padding-top: 47px;
  }
}